{extend name="Index/index"}
	{block name="content"}
		<div id="content">
		<div class="container-fluid">
			<h1 class="page-title">Form Elements <small>form elements styling and more</small></h1>
			<div class="row-fluid">
				
				<div class="span6">
					
					<div class="widget">
						<div class="widget-header">
							<h4>用户添加</h4>
						</div>
						<div class="widget-content">
							<form class="form-horizontal" method="post" action="/admin/type_save"/>
								<div class="control-group">
									<label class="control-label" for="inputEmail">父类名字</label>
									<div class="controls">
										<select id="inputEmail" placeholder="Level" name="pid"/>
											<option value="1" id="inputEmail" style="background:#424744;">顶级分类</option>
											{foreach $data as $v}
											<option {if $v['id']==$id}selected{/if} value="{$v['id']}" id="inputEmail" style="background:#424744;">{$v->typename}</option>
											{/foreach}
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputEmail">分类名字</label>
									<div class="controls">
										<input type="text" id="inputEmail" placeholder="Typename" name="name"/>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<label class="checkbox">
											<input type="checkbox" /> Remember me
										</label>
										<button type="submit" class="btn">Adding</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					
				
					
				</div><!-- end span6 -->
			</div><!-- end row-fluid -->
		</div><!-- end container-fluid -->
	</div>
	{/block}
{/extend}